<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <form action = "/risultato" method = "get">
            <p>inserisci il lato del tuo quadrato</p>

            <p><input type = "text" name = "latoQ" /></p> 

            <p>scegli cosa calcolare</p> 
    
            <input type="radio" name="primo" value="0">
            <label for="AreaQ">Calcola l'are del quadrato</label><br>
    
            <input type="radio" name="primo" value="1">
            <label for="DiagonaleQ">Calcola l'are del quadrato</label><br>
            
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </h1>
</body>
</html>